/* BOOTSTRAP STYLES */

:root {
  --bs-primary: #606fff;
  --bs-secondary: #f1f2f2;
  --bs-tertiary: #ffaedd;
  --bg-dark: #121217;
}

.text-white {
  color: var(--bs-secondary);
}

/* Styling Navigation */

/* Add animations to hover */

.navbar-nav .nav-link {
  color: var(--bs-secondary);
  font-size: 2rem;
}

.navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: var(--bs-tertiary);
}

/* Styling Typefaces */
.h2 {
  font-family: "tangier", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.h3 {
  font-size: 3rem;
  color: var(--bs-secondary);
  font-weight: 400;
}

/* Styling Footer */

.char1 {
  font-family: "tangier", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-right: 2px;
}

.connect:hover h3 {
  color: var(--bs-tertiary);
}

.connect:active h3 {
  color: var(--bs-primary);
}

.socials:hover .fa-brands {
  color: var(--bs-tertiary);
}

.socials:active .fa-brands {
  color: var(--bs-secondary);
}

.fa-brands {
  color: var(--bs-primary);
}

/* Styling Projects Page */

/* Styling About */

.about-me {
  font-size: 1.4rem;
}

.card-text {
  font-size: 1.2rem;
  line-height: 1.2em;
}

.card-title {
  font-size: 1.8rem;
}

.cards a,
.bio a {
  font-size: 1.2rem;
}
