/* BOOTSTRAP STYLES */

:root {
  --bs-primary: #606fff;
  --bs-secondary: #f1f2f2;
}

.nav-link.active,
.fa-brands {
  color: var(--bs-primary);
}

.text-white {
  color: var(--bs-secondary);
}

.h3 {
  font-weight: 400;
}
