/* BOOTSTRAP STYLES */

:root {
  --bs-primary: #606fff;
  --bs-secondary: #f1f2f2;
  --bs-tertiary: #ffaedd;
  --bg-dark: #121217;
}

.text-white {
  color: var(--bs-secondary);
}

/* Styling Navigation */

/* Add animations to hover */

.navbar-nav .nav-link {
  color: var(--bs-secondary);
  font-size: 2rem;
}

.navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: var(--bs-tertiary);
}

/* Styling Typefaces */
.h2 {
  font-family: "tangier", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.h3 {
  font-size: 3rem;
  color: var(--bs-secondary);
  font-weight: 400;
}

/* Styling Footer */

.char1 {
  font-family: "tangier", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-right: 2px;
}

.connect:hover h3 {
  color: var(--bs-tertiary);
}

.connect:active h3 {
  color: var(--bs-primary);
}

.socials:hover .fa-brands {
  color: var(--bs-tertiary);
}

.socials:active .fa-brands {
  color: var(--bs-secondary);
}

.fa-brands {
  color: var(--bs-primary);
}

/* Styling Projects Page */

.project-container {
  position: relative;
  height: 500px;
}

.project-container > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.project-container > .project-img {
  background-size: cover;
  background-position: 20%;
  height: 500px;
  opacity: 50%;
}

.farm {
  background-image: url(../images/farm.jpg);
  background-size: cover;
  background-position-x: 60%;
  height: 500px;
}

.pop {
  background-image: url(../images/pop.jpg);
  background-size: contain;
  height: 500px;
}

.dream {
  background-image: url(../images/dream.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.bunny {
  background-image: url(../images/bunny.jpg);
  background-size: cover;
  background-position: top;
  height: 500px;
}

/* Styling About */

.about-me {
  font-size: 1.4rem;
}

.card-text {
  font-size: 1.2rem;
  line-height: 1.2em;
}

.card-title {
  font-size: 1.8rem;
}

.cards a,
.bio a {
  font-size: 1.2rem;
}
